* {
    font-family: "Inter", "Noto", "Fira Code", sans-serif;
    font-size: 13px;

    box-shadow: none;
    background: none;
    border: none;
}

#bar {
    margin: 10px 10px 0 10px;
    color: #ddd;
}

.workspaces .item {
    background-color: rgba(255, 255, 255, 0.1);
    color: #6c7086;
    padding: 0 8px;
    border-radius: 4px;
    margin-right: 4px;
}

.workspaces .item.focused {
    color: #89b4fa;
    background-color: rgba(255, 255, 255, 0.2);
}

.focused { }

.clock   { color: #cdd6f4; }

.sys-info { color: #94e2d5; padding: 0 8px; }

.volume  { color: #f9e2af; padding: 0 8px; }

.tray    { padding: 0 8px; }
